td {position: relative;}
.color-block {
  top: 25px;
  transform: translateY(-50%);
  left: 5rem;
  display: block;
  position: absolute;
  height: 12px;
  width: 12px;
}

//--------------------
// Page styles
//--------------------

.page {
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 3% 0;
  padding-bottom: 5rem;
  background-color: $font-color-white;
  border-radius: 0 0 8px 8px;
  overflow: hidden;
  box-shadow: 6px 9px 30px 0 rgba(0, 0, 0, 0.12);

  @include breakpoint('360px') {
    padding-top: 32px;
    padding-left: 32px;
    padding-right: 32px;
  }

  @include breakpoint('600px') {
    margin: 0 5% 0;
  }

  @include breakpoint('880px') {
    margin: 0 12.5% 0;
  }

  @include breakpoint('1366px') {
    padding-top: 64px;
    padding-left: 64px;
    padding-right: 64px;
  }

  &--overview {
    margin-top: -67px;
    padding-top: 69px;
    border-radius: 8px;

    @include breakpoint('768px') {
      margin-top: -97px;
      padding-top: 129px;
      border-radius: 8px;
    }
  }

  .page__sub-heading {
    color: $color__blue-30;
    margin-top: 2rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .2rem;
    font-size: 1rem;
  }

  .page__divider-heading {
    font-size: rem(12px);
    width: 100%;
    padding-bottom: 1rem;
    border-bottom: 2px solid $color-green;
    text-transform: uppercase;
    color: $color__blue-90;
    margin-bottom: 3rem;
    max-width: rem(660px);
  }

  .page__desc {
    @include font-smoothing;
    max-width: 100%;
    color: $color__blue-90;
    word-wrap: break-word;
    font-size: 1.125rem;
    line-height: 1.5;
    font-weight: 700;
    padding-bottom: 1rem;
    letter-spacing: 0;

    span {
      color: $color-green;
    }
  }

  & > *:not(.component-example):not(.component-variation),
  & > {
    .page__divider-heading {
      font-size: rem(12px);
      width: 100%;
      padding-bottom: 1rem;
      border-bottom: 2px solid $color-green;
      text-transform: uppercase;
      color: $font-color-black-primary;
      margin-bottom: 3rem;
      max-width: rem(660px);
    }

    h1 {
      font-size: 4rem;

      &#helvetica-neue-light {
        font-weight: 300;
      }
    }

    h2 {
      position: relative;
      display: flex;
      align-items: center;
      color: $font-color-black-primary;
      margin-top: 64px;
      font-weight: bold;
      font-size: 24px;
      padding: 0;


      &:focus {
        outline: none;
      }

      .title-anchor {
        transition: .2s cubic-bezier(0.5, 0, 0.1, 1);
        opacity: .25;
        line-height: 0;
        order: 2;
        margin-left: .25rem;
        padding: 3px;

        &:hover {
          opacity: 1;
        }

        svg {
          fill: $brand-02;

          &:hover {
            fill: $brand-01;
          }
        }


        &:focus {
          opacity: 1;
          outline: 1px solid $brand-01;
        }
      }

      & + h3 {
        padding-top: 0;
      }
    }

    h3 {
      color: $font-color-black-primary;
      padding: 4rem 0 1rem;
      font-size: 18px;
      line-height: 30px;
      font-weight: 400;
      letter-spacing: 0;

      & + h4 {
        padding-top: 0;
      }

      & + hr + table {
        margin-top: 0;
      }
    }
  }

  & h2.header-unify-page {
    margin: 16px 16px 0 16px;
    background-image: url('./images/h2-before.svg');
    background-repeat: no-repeat;
    background-position: center left;
    text-indent: 24px;

    &:first-child {
      margin-top: 0;
    }
  }
}

.page pre.line-numbers {
  padding-left: 3rem;
}
