<List subheader="Subheader"
  items={[
    { text: "Text goes here", onClick: function(){} },
    { text: "Text goes here", icon: "https://placehold.it/100x100", onClick: function(){} },
    { text: "Text goes here", icon: "https://placehold.it/100x100", actionText: "Value", onClick: function(){} },
    { text: "Text goes here", icon: "https://placehold.it/100x100", actionText: "Value", arrow: true, onClick: function(){} },
    { text: "Text goes here", actionType: "radio" },
    { text: "Text goes here", actionType: "toggle" },
    { text: "Text goes here", actionType: "checkbox", checked: true },
    { text: "Text goes here", checked: true },
    { text: "Text goes here", icon: "https://placehold.it/100x100", iconSize: '40px', textIndent: '48px'}
  ]} />
