<List subheader="Subheader"
  items={[
    { text: "Text goes here", description: "Description goes here", onClick: function(){} },
    { text: "Text goes here", description: "Description goes here", icon: "https://placehold.it/100x100", onClick: function(){} },
    { text: "Text goes here", description: "Description goes here", icon: "https://placehold.it/100x100", actionText: "Value", onClick: function(){} },
    { text: "Text goes here", description: "Description goes here", icon: "https://placehold.it/100x100", actionText: "Value", arrow: true, onClick: function(){} }
  ]}
/>