<List subheader="Subheader"
  items={[
    { text: "Text goes here", onPress: function(){} },
    { text: "Text goes here", icon: require("../common/assets/image.png"), onPress: function(){} },
    { text: "Text goes here", icon: { uri: "https://placehold.it/100x100" }, actionText: "Value", onPress: function(){} },
    { text: "Text goes here", icon: { uri: "https://placehold.it/100x100" }, actionText: "Value", arrow: true, onPress: function(){} },
    { text: "Text goes here", actionType: "radio" },
    { text: "Text goes here", actionType: "toggle" },
    { text: "Text goes here", actionType: "checkbox", checked: true },
    { text: "Text goes here", checked: true },
  ]} />
