<List subheader="Subheader"
  items={[
    { text: "Text goes here", description: "Description goes here", onPress: function(){} },
    { text: "Text goes here", description: "Description goes here", icon: "https://placehold.it/100x100", onPress: function(){} },
    { text: "Text goes here", description: "Description goes here", icon: "https://placehold.it/100x100", actionText: "Value", onPress: function(){} },
    { text: "Text goes here", description: "Description goes here", icon: "https://placehold.it/100x100", actionText: "Value", arrow: true, onPress: function(){} }
  ]}
/>