$font-path: '.' !default; // Default font directory, allow user override

@import url('https://fonts.googleapis.com/css?family=Montserrat:700');

@font-face {
  font-family: 'UNIFY';
  font-style: normal;
  font-weight: 400;
  src: url('#{$font-path}/CircularStd-Book.otf') format('opentype');
}

@font-face {
  font-family: 'UNIFY';
  font-style: normal;
  font-weight: 600;
  src: url('#{$font-path}/CircularStd-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'UNIFY';
  font-style: normal;
  font-weight: 700;
  src: url('#{$font-path}/CircularStd-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'UNIFY';
  font-style: normal;
  font-weight: 900;
  src: url('#{$font-path}/CircularStd-Black.otf') format('opentype');
}
