.overview-page {
  @include reset;
  @include grid-padding;
  background-color: $color__white;

  &__top {
    position: relative;
    padding-left: 3%;
    padding-right: 3%;
    margin: auto;
    overflow: hidden;
    @include breakpoint('600px') {
      padding-left: 5%;
      padding-right: 5%;
    }
    @include breakpoint('840px') {
      padding-left: 12.5%;
      padding-right: 12.5%;
    }

    &-banner {
      position: relative;
      width: 100%;
      height: 240px;
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      transition: $transition--base ease;
      overflow: visible;
      box-sizing: border-box;
      
      @include breakpoint('768px') {
        height: 460px;
      }
      
      @include breakpoint('1600px') {
        height: 650px;
      }

      & img {
        image-rendering: optimizeSpeed;             /*                     */
        image-rendering: -moz-crisp-edges;          /* Firefox             */
        image-rendering: -o-crisp-edges;            /* Opera               */
        image-rendering: -webkit-optimize-contrast; /* Chrome (and Safari) */
        image-rendering: optimize-contrast;         /* CSS3 Proposed       */
        -ms-interpolation-mode: nearest-neighbor;   /* IE8+                */

        -webkit-transition: all 1.5s ease;
        -moz-transition: all 1.5s ease;
        -o-transition: all 1.5s ease;
        transition: all 1.5s ease;
      }
      
      &--image-1 {    
        height: 100%;
        position: absolute;
        top: -40%;
        left: 2%;
      }
      
      &--image-2 {  
        height: 55%;
        position: absolute;
        top: -14%;
        left: 50%;
        z-index: 4;
      }

      &--image-3 {
        height: 74%;
        position: absolute;
        bottom: -25%;
        right: 0;   
        z-index: 1; 
      }
      
      &--image-4 {
        height: 70%;
        position: absolute;
        bottom: 16%;
        right: 5%;
        z-index: 0;  
      }
      
      &--image-5 {
        height: 10%;
        position: absolute;
        bottom: 34%;
        right: 12%;
        z-index: 1; 
      }
      
      &--image-6 {
        height: 42%;
        position: absolute;
        bottom: 10%;
        left: 0;
        z-index: 1;
      }
      
      &--image-7 {
        height: 2%;
        position: absolute;
        top: 6%;
        left: 2%;
        z-index: 1;
      }
      
      &--image-8 {
        height: 8%;
        position: absolute;
        bottom: 10%;
        left: 8%;
        z-index: 1;
      }
      
      &--image-9 {
        height: 4%;
        position: absolute;
        bottom: 62%;
        right: 17%;
        z-index: 4;
      }

      &-border {
        position: absolute;
        bottom: 0;
        left: 15%;
        width: 70%;
        border-bottom: 1px solid $border-color;
      }
    }
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 3;
  }

  &__title--aria {
    @include hidden;
  }

  &__content {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding-top: 64px;
    max-width: 1024px;
    margin: auto;

    .overview-page__main-intro {
      width: 100%;
      margin-bottom: 75px;
      display: flex;
      align-items: flex-start;
      padding: 0 20px;
    }

    .overview-page__main-intro--icon {
      margin-right: 16px;

      @include breakpoint('620px') {
        margin-right: 24px;
      }
    }

    .overview-page__main-intro--text {
      font-size: 24px;
      font-weight: 600;
      line-height: 30px;
      width: 100%;
      color: $font-color-black-primary;

      &-secondary {
        margin-top: 16px;
        font-size: 17px;
        line-height: 24px;
        color: $font-color-black-primary;
      }
    }

    .overview-page__main-intro--link {
      display: inline-block;
      margin-top: 16px;
      font-size: 17px;
      line-height: 22px;
      padding: 9px 24px;
      color: $font-color-white;
      background-color: $color-green;
      border-radius: 4px;
      text-decoration: initial;
      box-shadow: 7px 8px 23px -7px $color-green;
    }

    .overview-page__tiles {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap;
      flex-direction: column;
      margin-top: 0;
      min-height: 100%;

      @include breakpoint('1024px') {
        flex-direction: row;
      }
    }

    .overview-page__tile {
      width: 100%;
      display: flex;
      align-items: stretch;
      margin-bottom: 2rem;
      box-shadow: 10px 10px 40px -10px rgba(0, 0, 0, 0.1);
      padding: 24px;
      padding-left: 0;
      margin-right: 12px;
      box-sizing: border-box;
      border-radius: 4px;
    
      @include breakpoint('1024px') {
        flex: 1;
      }

      &:last-child {
        @include breakpoint('1024px') {
          margin-right: 0;
          margin-left: 12px;
        }
      }

      &--content {
        & a {
          color: $color-green;
          text-decoration: none;
          font-size: 17px;
          font-weight: bold;
          line-height: 24px;
        }
      }
    }

    .overview-page__tile--icon {
      &-left {
        margin: 0 17px;
      }

      &-right {
        margin-right: 28px;
        margin-left: 24px;
      }
    }

    .overview-page__tile--heading {
      font-size: 24px;
      font-weight: 600;
      line-height: 28px;
      color: $font-color-black-primary;
      margin-bottom: 8px;
    }

    .overview-page__tile--text {
      font-size: 17px;
      line-height: 24px;
      margin-bottom: 8px;
      color: $font-color-black-primary;
    }
  }
}

.overview__letter {
  display: inline;
  user-select: none;
  cursor: pointer;

  span {
    @include font-smoothing;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 80px;
    margin: 0 4px;
    transition: all 250ms cubic-bezier(.8, -.5, .2, 1.8);
    color: #4a4a4a;
    @include breakpoint('768px') {
      font-size: 160px;
    }
    @include breakpoint('1024px') {
      font-size: 242px;
    }
    @include breakpoint('1600px') {
      font-size: 282px;
    }
  }

  svg {
    width: 8vw;
    height: 8vw;
    transition: all 250ms cubic-bezier(.8, -.5, .2, 1.8);
    visibility: hidden;
    opacity: 0;
    transform: scale(0.1);
    will-change: transform, opacity, visibility;
    @include breakpoint('990px') {
      width: 4.5rem;
      height: 4.5rem;
    }
  }

  img {
    height: 33.5px;
    transition: all 250ms cubic-bezier(.8, -.5, .2, 1.8);
    visibility: hidden;
    opacity: 0;
    transform: scale(0.1);
    will-change: transform, opacity, visibility;
    image-rendering: optimizeSpeed;             /*                     */
    image-rendering: -moz-crisp-edges;          /* Firefox             */
    image-rendering: -o-crisp-edges;            /* Opera               */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and Safari) */
    image-rendering: optimize-contrast;         /* CSS3 Proposed       */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                */
    @include breakpoint('990px') {
      height: 65px;
    }
  }

  &--active {
    span {
      visibility: hidden;
      opacity: 0;
      transform: translateX(-50%) scale(0.1);
    }

    svg {
      visibility: visible;
      opacity: 1;
      transform: scale(1);
    }

    img {
      visibility: visible;
      opacity: 1;
      transform: scale(1);
    }
  }

  &--hover {
    animation: rock 350ms infinite forwards linear 250ms, pop 250ms 1;
  }
}

@keyframes rock {
  0%,
  100% {
    transform: scale(1.0) rotate(0deg);
  }
  25% {
    transform: rotate(-3deg);
  }
  75% {
    transform: rotate(3deg);
  }
}

@keyframes pop {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}
