.overview-page {
  @include reset;
  @include grid-padding;
  background-color: $color__white;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__top {
    padding-left: 3%;
    padding-right: 3%;
    margin: auto;
    overflow: hidden;
    @include breakpoint('600px') {
      padding-left: 5%;
      padding-right: 5%;
    }
    @include breakpoint('840px') {
      padding-left: 12.5%;
      padding-right: 12.5%;
    }
    @include breakpoint('1280px') {
      padding-left: 14%;
      padding-right: 14%;
    }
    @include breakpoint('1366px') {
      padding-left: 25%;
      padding-right: 25%;
    }

    &-banner {
      position: relative;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 3rem 3%;
      width: 100%;
      transition: $transition--base ease;
      border-bottom: 1px solid $color__gray-1;
      overflow: visible;

      @include breakpoint('bp--sm--major') {
        padding: 4rem 10%;
      }

      @include breakpoint('1024px') {
        padding: 5rem 15%;
        padding-bottom: 3rem;
      }
      
      @include breakpoint('1280px') {
        padding: 0 15%;
        height: 720px;
        box-sizing: border-box;
      }

      & img {
        image-rendering: optimizeSpeed;             /*                     */
        image-rendering: -moz-crisp-edges;          /* Firefox             */
        image-rendering: -o-crisp-edges;            /* Opera               */
        image-rendering: -webkit-optimize-contrast; /* Chrome (and Safari) */
        image-rendering: optimize-contrast;         /* CSS3 Proposed       */
        -ms-interpolation-mode: nearest-neighbor;   /* IE8+                */

        -webkit-transition: all 1.5s ease;
        -moz-transition: all 1.5s ease;
        -o-transition: all 1.5s ease;
        transition: all 1.5s ease;
      }
      
      &--image-1 {    
        height: 100%;
        position: absolute;
        top: -40%;
        left: -16%;
      }
      
      &--image-2 {  
        height: 55%;
        position: absolute;
        top: -7%;
        left: 55%;
      }

      &--image-3 {
        height: 74%;
        position: absolute;
        bottom: -25%;
        right: -37%;   
        z-index: 1; 
      }
      
      &--image-4 {
        height: 63%;
        position: absolute;
        bottom: 10%;
        right: -21%;
        z-index: 0;  
      }
      
      &--image-5 {
        height: 10%;
        position: absolute;
        bottom: 34%;
        right: -12%;
        z-index: 1; 
      }
      
      &--image-6 {
        height: 42%;
        position: absolute;
        bottom: 14%;
        left: -22%;
        z-index: 1;
      }
      
      &--image-7 {
        height: 2%;
        position: absolute;
        top: 1.5%;
        left: -15%;
        z-index: 1;
      }
      
      &--image-8 {
        height: 8%;
        position: absolute;
        bottom: 10%;
        left: -14%;
        z-index: 1;
      }
      
      &--image-9 {
        height: 4%;
        position: absolute;
        bottom: 50%;
        right: -6%;
        z-index: -1;
      }
    }
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 3;
  }

  &__title--aria {
    @include hidden;
  }

  &__title--column {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-right: 6.25vw;

    @include breakpoint('990px') {
      margin-right: rem(75px);
    }

    &:last-child {
      margin-right: 0;
    }

    span:last-child {
      margin-bottom: 0;
    }
  }

  &__content {
    font-family: 'Proxima Nova';
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding-top: rem(48px);
    max-width: 55rem;

    @include breakpoint('620px') {
      padding-top: 8rem;
    }

    .overview-page__main-intro {
      width: 100%;
      margin-bottom: 3rem;
      display: flex;
      align-items: flex-start;
    }

    .overview-page__main-intro--icon {
      margin-right: 1.2rem;

      @include breakpoint('620px') {
        margin-right: 2rem;
      }
    }

    .overview-page__main-intro--text {
      font-size: rem(18px);
      font-weight: 700;
      line-height: 1.75;
      width: 100%;
    }

    .overview-page__main-intro--link {
      margin-top: 1.5rem;
    }

    .overview-page__tiles {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap;
      flex-direction: column;
      margin-top: 2rem;

      @include breakpoint('1440px') {
        flex-direction: row;
      }
    }

    .overview-page__tile {
      width: 100%;
      display: flex;
      align-items: flex-start;
      margin-bottom: 2rem;

      @include breakpoint('620px') {
        flex: 1;
        margin-right: 2rem;
      }
    }

    .overview-page__tile--icon {
      margin-right: 1.2rem;

      @include breakpoint('620px') {
        margin-right: 2rem;
      }
    }

    .overview-page__tile--heading {
      font-size: 1rem;
      font-weight: 700;
      letter-spacing: 0;
      line-height: 1.5;
    }

    .overview-page__tile--text {
      line-height: 1.7;
      margin-bottom: 1rem;
    }
  }
}

.overview__letter {
  user-select: none;
  position: relative;
  transition: transform 250ms;
  transform: scale(1);
  cursor: pointer;
  will-change: transform;
  margin: 0.5rem;
  @include breakpoint('420px') {
    margin: 1rem;
  }
  @include breakpoint('768px') {
    margin: 2rem;
  }
  @include breakpoint('1280px') {
    margin: 2.5rem;
  }

  span {
    @include font-smoothing;
    font-weight: 700;
    font-size: 8vw;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) scale(1);
    transition: all 250ms cubic-bezier(.8, -.5, .2, 1.8);
    color: rgba(0, 0, 0, 0.7);
    @include breakpoint('990px') {
      font-size: 4.5rem;
    }
  }

  svg {
    width: 8vw;
    height: 8vw;
    transition: all 250ms cubic-bezier(.8, -.5, .2, 1.8);
    visibility: hidden;
    opacity: 0;
    transform: scale(0.1);
    will-change: transform, opacity, visibility;
    @include breakpoint('990px') {
      width: 4.5rem;
      height: 4.5rem;
    }
  }

  img {
    height: 33.5px;
    transition: all 250ms cubic-bezier(.8, -.5, .2, 1.8);
    visibility: hidden;
    opacity: 0;
    transform: scale(0.1);
    will-change: transform, opacity, visibility;
    image-rendering: optimizeSpeed;             /*                     */
    image-rendering: -moz-crisp-edges;          /* Firefox             */
    image-rendering: -o-crisp-edges;            /* Opera               */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and Safari) */
    image-rendering: optimize-contrast;         /* CSS3 Proposed       */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                */
    @include breakpoint('990px') {
      height: 65px;
    }
  }

  &--active {
    span {
      visibility: hidden;
      opacity: 0;
      transform: translateX(-50%) scale(0.1);
    }

    svg {
      visibility: visible;
      opacity: 1;
      transform: scale(1);
    }

    img {
      visibility: visible;
      opacity: 1;
      transform: scale(1);
    }
  }

  &--hover {
    animation: rock 350ms infinite forwards linear 250ms, pop 250ms 1;
  }
}

@keyframes rock {
  0%,
  100% {
    transform: scale(1.0) rotate(0deg);
  }
  25% {
    transform: rotate(-3deg);
  }
  75% {
    transform: rotate(3deg);
  }
}

@keyframes pop {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}
