.overview-page {
  @include reset;
  @include grid-padding;
  background-color: $color__white;

  &__content {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding-top: 64px;
    max-width: 1024px;
    margin: auto;

    .overview-page__main-intro {
      width: 100%;
      margin-bottom: 75px;
      display: flex;
      align-items: flex-start;
      padding: 0 20px;
    }

    .overview-page__main-intro--icon {
      margin-right: 16px;

      @include breakpoint('620px') {
        margin-right: 24px;
      }
    }

    .overview-page__main-intro--text {
      font-size: 24px;
      font-weight: 600;
      line-height: 30px;
      width: 100%;
      color: $font-color-black-primary;

      &-secondary {
        margin-top: 16px;
        font-size: 17px;
        line-height: 24px;
        color: $font-color-black-primary;
      }
    }

    .overview-page__main-intro--link {
      display: inline-block;
      margin-top: 16px;
      font-size: 17px;
      line-height: 22px;
      padding: 9px 24px;
      color: $font-color-white;
      background-color: $color-green;
      border-radius: 4px;
      text-decoration: initial;
      box-shadow: 7px 8px 23px -7px $color-green;
    }

    .overview-page__tiles {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap;
      flex-direction: column;
      margin-top: 0;
      min-height: 100%;

      @include breakpoint('1024px') {
        flex-direction: row;
      }
    }

    .overview-page__tile {
      width: 100%;
      display: flex;
      align-items: stretch;
      margin-bottom: 2rem;
      box-shadow: 10px 10px 40px -10px rgba(0, 0, 0, 0.1);
      padding: 24px;
      padding-left: 0;
      margin-right: 12px;
      box-sizing: border-box;
      border-radius: 4px;
    
      @include breakpoint('1024px') {
        flex: 1;
      }

      &:last-child {
        @include breakpoint('1024px') {
          margin-right: 0;
          margin-left: 12px;
        }
      }

      &--content {
        & a {
          color: $color-green;
          text-decoration: none;
          font-size: 17px;
          font-weight: bold;
          line-height: 24px;
        }
      }
    }

    .overview-page__tile--icon {
      &-left {
        margin: 0 17px;
      }

      &-right {
        margin-right: 28px;
        margin-left: 24px;
      }
    }

    .overview-page__tile--heading {
      font-size: 24px;
      font-weight: 600;
      line-height: 28px;
      color: $font-color-black-primary;
      margin-bottom: 8px;
    }

    .overview-page__tile--text {
      font-size: 17px;
      line-height: 24px;
      margin-bottom: 8px;
      color: $font-color-black-primary;
    }
  }
}

/*
  React CSS Transition for Overview Top Section
*/
.home-header-enter {
  transform: translateX(100%);
  position: relative;
  z-index: 10;
}

.home-header-enter.home-header-enter-active {
  transform: translateX(0%);
  transition: transform 1500ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  position: relative;
  z-index: 10;
}
.home-header-exit {
  transform: translateX(0%);
}

.home-header-exit.home-header-exit-active {
  transform: translateX(-100%);
  transition: transform 1900ms cubic-bezier(0.6, 0.04, 0.98, 0.335);
}