.svg--sprite {
  @include hidden;
}

.live-component__variation {
  width: 100%;
  max-width: 1000px;

  & > .primary-button button,
  & > .secondary-button button {
    margin: .5rem;
  }

  & > .inline-notification .bx--inline-notification {
    display: inline-flex;
    margin-right: 10rem;
  }

  & > .overflow-menu .bx--overflow-menu {
    position: absolute;
    left: 3rem;

    &:last-child {
      left: 15em;
    }
  }

  & .text-input .bx--form-item {
    margin-right: 0;
  }

  & .interior-left-nav .bx--interior-left-nav {
    top: 8.5rem;
    max-height: 80vh;
  }

  & .interior-left-nav .bx--interior-left-nav--collapseable .bx--interior-left-nav-collapse {
    margin-bottom: 0;
  }
}

.component-example__live {
  position: relative;

  .button button {
    margin: 0;
  }

  .data-table > div {
    width: 100%;
  }

  & > .interior-left-nav .bx--interior-left-nav {
    position: initial;
    min-height: rem(400px);
  }

  & > .interior-left-nav .bx--interior-left-nav--collapseable .bx--interior-left-nav-collapse {
    margin-bottom: 0;
  }

  & .text-input .bx--text-input {
    min-width: 20rem;
  }

  & > .dropdown > div {
    width: 100%;
    max-width: 502px;
  }

  & .loading .bx--loading-overlay {
    position: absolute;
  }

  & .notification .bx--inline-notification {
    display: inline-flex;
  }

  & .text-input .bx--form-item {
    margin-right: 0;
  }

  & .select .bx--select--inline {
    max-width: 400px;
  }
}

.bx--overflow-menu-options {
  z-index: 7000;
}

/*
  Custom by stevanus.id
*/

.component-example__live {
  & .bottomnav {
    position: absolute;
    max-width: 400px;
    left: 50%;
    transform: translateX(-50%);
    border-right: 1px solid $border-color;
    border-left: 1px solid $border-color;
  }

  & .bottomsheet {
    & p {
      color: $font-color-black-secondary;
    }
  }

  & .component-example__live--rendered {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;

    & div.dialog {
      left: 50%;
      transform: translate(-50%,-50%);
      max-width: 400px;
    }
  }

  & .tab {
    width: 460px;
  }
}