<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="content-type" content="text/html" charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta property="og:title" content="Tokopedia Unify Design System">
  <meta property="og:description" content="Tokopedia Unify Design System">
  <meta property="og:image" content="http://unify.stevanus.id/images/unify-thumbnail.png">
  <meta property="og:url" content="http://product.tkp.me">
  <meta property="og:site_name" content="Tokopedia Unify Design System">
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:image:alt" content="Tokopedia Unify Design System">
  <meta name="description" content="Tokopedia Unify Design System">
  <meta name="keywords" content="Tokopedia, design, system, Unify, design system, styleguide, style, guide, components, library, pattern, kit, component">
  <meta name="robots" content="noindex,nofollow">
  <meta name="google-signin-client_id" content="504442687688-ebo801nj17927lvs3pb63fuc3n8uk72a.apps.googleusercontent.com">
  <title>Tokopedia Unify Design System</title>

  <script src="https://apis.google.com/js/api.js"></script>
  <script type="text/javascript">
    gapi.load('auth2', function() {
      gapi.auth2.init({
          client_id: "504442687688-ebo801nj17927lvs3pb63fuc3n8uk72a.apps.googleusercontent.com"
      }).then(function(auth2) {
          console.log( "signed in: " + auth2.isSignedIn.get() );
      });
    });
  </script>
</head>

<body>
  <svg class="shape-overlays" viewBox="0 0 100 100" preserveAspectRatio="none">
    <defs>
      <linearGradient id="shape-overlays-color-1" x1="0%" y1="0%" x2="0%" y2="100%">
        <stop offset="0%"   stop-color="#00c99b"/>
        <stop offset="100%" stop-color="#ff0ea1"/>
      </linearGradient>
      <linearGradient id="shape-overlays-color-2" x1="0%" y1="0%" x2="0%" y2="100%">
        <stop offset="0%"   stop-color="#ffd392"/>
        <stop offset="100%" stop-color="#ff3898"/>
      </linearGradient>
      <linearGradient id="shape-overlays-color-3" x1="0%" y1="80%" x2="0%" y2="160%">
        <stop offset="0%"   stop-color="#27782C"/>
        <stop offset="100%" stop-color="#FFC107"/>
      </linearGradient>
    </defs>
    <path class="shape-overlays__path"></path>
    <path class="shape-overlays__path"></path>
    <path class="shape-overlays__path"></path>
  </svg>
  <main id="root" role="main" aria-label="Main website wrapper"></main>
  <script src="/js/carbon-components.min.js"></script>
  <script>
    CarbonComponents.settings.disableAutoInit = true;
  </script>
</body>

</html>
