.page-tabs {
  @include grid-margins;
  margin-top: -2.5rem;
  width: auto;
  background-color: transparent;

  &.bx--tabs {
    min-height: 40px;
    
    @include breakpoint('768px') {
      min-height: 46px;
    }
  }

  .bx--tabs--hidden {
    display: none;

    @include breakpoint('768px') {
      display: flex;
    }
  }

  .bx--tabs-trigger {
    border-radius: 8px 8px 0 0;
    background-color: white;
    border-bottom: 1px solid #8fc043;
    
    &-text,
    svg {
      color: $font-color-black-primary;
      fill: $color-green;
    }
  }

  .bx--tabs__nav {
    @include layer('overlay');
    z-index: 5;
    background-color: $font-color-white;
    border-radius: 8px 8px 0 0;
    
    @include breakpoint('768px') {
      width: 90%;
    }

    @include breakpoint('840px') {
      width: 75%;
    }
  }

  @include breakpoint('768px') {
    @include grid-padding;
    margin: -2.95rem 0 0 0;

    .bx--tabs__nav {
      margin: 0;
      margin-top: -46px;
      box-shadow: 6px 0 30px 0 rgba(0, 0, 0, 0.12);
      border-bottom: 1px solid #8fc043;
    }

    .bx--tabs__nav-item {
      padding: 0;
      margin: 8px 32px;
      margin-right: 8px;
      margin-bottom: 0;

      .bx--tabs__nav-link {
        font-size: 20px;
        padding: 30px 48px;
        color: $font-color-black-disabled;
      }

      &--selected {
        border-bottom: 3px solid $color-green !important;

        & .bx--tabs__nav-link {
          color: $color-green;
        }
      }
    }
  }
}