.page-tabs {
  @include grid-margins;
  margin-top: -2.5rem;
  width: auto;
  background-color: transparent;

  .bx--tabs--hidden {
    display: none;

    @include breakpoint('768px') {
      display: flex;
    }
  }

  .bx--tabs__trigger {
    &-text,
    svg {
      color: $color__white;
      fill: $color__white;
    }
  }

  .bx--tabs__nav {
    @include layer('overlay');
    z-index: 5;
    background-color: $font-color-white;
    border-radius: 8px 8px 0 0;
    
    @include breakpoint('768px') {
      width: 90%;
    }

    @include breakpoint('840px') {
      width: 75%;
    }
  }

  @include breakpoint('768px') {
    @include grid-padding;
    margin: -2.95rem 0 0 0;

    .bx--tabs__nav {
      margin: 0;
      margin-top: -8px;
      box-shadow: none;
    }

    .bx--tabs__nav-item {
      padding: 0;
      margin: 8px 32px;
      margin-right: 8px;
      margin-bottom: 0;

      .bx--tabs__nav-link {
        font-size: 1rem;
        padding: .75rem 24px 1rem;
        color: $font-color-black-disabled;
      }

      &.bx--tabs--selected {
        border-bottom: 3px solid $color-green !important;
      }

      &--selected {
        border-bottom: 2px solid $color-green !important;

        & .bx--tabs__nav-link {
          color: $color-green;
        }
      }
    }
  }
}