.side-nav__toggle-btn {
  position: fixed;
  top: 2%;
  left: calc(200px - 2.3rem);
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.75);
	box-shadow: 1px 2px 5px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid transparent;
  border-radius: 4px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  transition: left $transition--base ease;
  z-index: 7001;

  @include breakpoint('840px') {
    top: 3%;
  }

  @include breakpoint('620px') {
    left: calc(200px - 2.1rem);
  }

  & > div {
    @include reset;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &:focus {
      outline: none;
    }

    .line {
      @include reset;
      height: 2px;
      width: 28px;
      cursor: pointer;
      display: block;
      margin: 2px 6px;
      background: #4a4a4a;
      will-change: all;
      border-radius: 4px;

      &--short {
        width: 18px;
        margin-left: 3px;
      }
    }

    .line:nth-child(2) {
      opacity: 0;
    }

    .line:nth-child(1) {
      transform: translateY(6px) rotate(45deg);
    }

    .line:nth-child(3) {
      transform: translateY(-6px) rotate(-45deg);
    }
  }

  &--closed {
    left: 2%;

    @include breakpoint('600px') {
      left: 3%;
    }
    @include breakpoint('840px') {
      left: 8%;
    }
  
    > div {
      .line:nth-child(2) {
        opacity: 1;
      }

      .line,
      .line:nth-child(1),
      .line:nth-child(3)
       {
        transform: translateY(0) rotate(0);
        transition: all $transition--base ease-in-out;
      }
      
      & .line--short {
        margin-left: -4px;
      }
    }
  }
}
