//--------------------
// GLOBAL LAYOUT
// Includes styles for body, link, wrapper and container.
//--------------------

body {
  font-family: 'UNIFY';
  background-color: $color__white;
  color: $color__blue-90;
  height: 100%;

  hr {
    display: none;
  }
}

.wrapper {
  width: 100%;
  display: flex;
  position: relative;
}

#maincontent {
  padding-bottom: 23rem;
}

.container {
  width: 100%;
  margin-left: 0;
  transition: $transition--base ease;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  main {
    background-color: #F8F8F8;

    &.overview-page,
    &.introduction-page {
      background-color: $font-color-white;
    }

    &:focus {
      outline: none;
    }
  }
}

a {
  @include font-smoothing;
  color: $color__blue-51;
  font-weight: 600;
  outline: none;

  &:hover {
    color: $color__blue-40;
  }
}

svg {
  transition: fill 250ms;
}

.bx--tabs__nav-item {
  transition: background-color 250ms;
}

input, button, a {
  outline: none;
}

/*
  Global Classes
*/

.mt-0 {
  margin-top: 0 !important;
}

.mt-8 {
  margin-top: 8px !important;
}

.mt-16 {
  margin-top: 16px;
}

.mb-16 {
  margin-bottom: 16px !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pb-8 {
  padding-bottom: 8px !important;
}

.img-center img {
  display: block !important;
  margin: auto !important;
}

.img-block img {
  width: 100% !important;
  max-width: initial !important;
}

.img-width-initial img {
  width: initial !important;
  max-width: initial !important;
}

.w-90 {
  width: 90% !important;
}

.align-center {
  text-align: center;
}

.color-black-disabled {
  color: $font-color-black-disabled;
}
