/*
    Tokopedia Unify
*/

//  Standard Color
$color-green: #42B549;

//  Font Color
$font-color-black-primary: rgba(0, 0, 0, 0.7);
$font-color-black-secondary: rgba(0, 0, 0, 0.54);
$font-color-white: #FFF;
$font-color-placeholder: rgba(255, 255, 255, 0.15);

//  Border-Color
$border-color: #E0E0E0;