.page-header {
  @include grid-padding;
  height: rem(224px);
  background-color: $color-green;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border-bottom: 1px solid $border-color;
  padding-bottom: 1rem;
  background-repeat: no-repeat;
  background-size: cover;

  @include breakpoint('768px') {
    padding-bottom: 0;
    height: rem(300px);
  }

  &__label {
    font-size: 18px;
    color: $font-color-white;
    text-transform: capitalize;
    line-height: 1;
    margin: 0 0 1.25rem;
    margin-top: 48px;
    margin-bottom: 8px;
    margin-left: 52px;
    white-space: nowrap;
    
    @include breakpoint('768px') {
      margin-top: 72px;
      margin-bottom: 0;
      margin-left: 0;
      font-size: 24px;
    }
  }

  &__title {
    font-size: 40px;
    color: $font-color-white;
    text-transform: capitalize;
    font-weight: 700;
    margin: 0 0 0 -3px;
    margin-left: 52px;
    padding: 0;
    transition: $transition--base $bx--standard-easing;
    
    @include breakpoint('768px') {
      font-size: 64px;
      margin-left: 0;
    }
  }
}
