.side-nav__main-nav {
  list-style: none;
  padding: 0;
  margin-bottom: 3rem;
  width: 100%;
  margin-top: 150px;
  
  @include breakpoint('500px') {
    margin-top: 180px;
  }
  
  @include breakpoint('1000px') {
    margin-top: 240px;
  }

  .main-nav-item {
    padding: .225rem 0;

    &:hover {
      color: $font-color-white;
    }

    &__heading {
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      color: $font-color-white;
      text-decoration: none;
      padding: 0;
      margin: 0;
      font-family: 'Montserrat', sans-serif;
      transition: 200ms ease;
      font-size: 34px;
      font-weight: bold;
      line-height: 44px;
      position: relative;
      left: -3px;

      &-children {
        position: fixed;
        right: 10px;
        top: 240px;
      }

      &--hover {
        display: none;
        margin-left: 16px;
        margin-top: 8px;
      }

      &:hover .main-nav-item__heading--hover {
        display: block;
      }
      
      @include breakpoint('600px') {
        font-size: 50px;
        line-height: 60px;
        left: -5px;
      }

      @include breakpoint('860px') {
        font-size: 60px;
        line-height: 70px;
        left: -8px;
      }
      
      @include breakpoint('1280px') {
        font-size: 60px;
        line-height: 70px;
        left: -8px;
      }
      
      @include breakpoint('1600px') {
        font-size: 80px;
        line-height: 90px;
        left: -8px;
      }

      &.no-hover {
        opacity: 0.1;
      }
    }

    &__arrow {
      height: rem(8px);
      width: rem(8px);
      fill: $color__navy-gray-7;
      transition: .3s;
    }

    &__open {
      & > .main-nav-item__heading .main-nav-item__arrow {
        transform: rotate(-180deg);
      }
    }

    &__active {
      .main-nav-item__heading {
        color: #27782C;
        text-shadow: -1px -1px 0 $font-color-white, 1px -1px 0 $font-color-white, 
        -1px 1px 0 $font-color-white, 1px 1px 0 $font-color-white;
        opacity: 1;
      }
    }

    &:hover {
      .main-nav-item__heading {
        color: $font-color-white;
        opacity: 1;
      }
    }

    &__image {
      margin-right: 24px;
      margin-top: 64px;
    }
  }

  .main-nav-item--sub {
    padding-top: 0;

    > .sub-nav__item:first-child {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 0;
      padding: .3rem 1rem .2rem 2rem;
      cursor: pointer;
    }

    .sub-nav__inner-sub-nav .sub-nav__item {
      margin-top: 0;
      padding: .5rem 1rem .5rem 3rem;
      cursor: pointer;
    }

    &.main-nav-item__open {
      .main-nav-item__arrow {
        transform: rotate(-180deg);
      }
    }
  }
}

.main-nav-item__children {
    margin-top: 150px;

    & li {
      font-size: 24px;
      line-height: 48px;
      letter-spacing: 0.8px;
      color: transparent; //test
    }
  
    @include breakpoint('500px') {
      margin-top: 180px;
    }
    
    @include breakpoint('1000px') {
      margin-top: 240px;
    }
}

@supports(-webkit-text-stroke: 1px $font-color-white){
  .side-nav__main-nav .main-nav-item__active .main-nav-item__heading{
      color: transparent;
      -webkit-text-stroke: 1.5px $font-color-white;
      text-shadow: none;
  }
}